Repository avrabe/spin_myT2ABRP: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, cargo-check

.pre-commit-config.yaml:

# Pre-commit hooks for Rust project
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '\.md$'

  # Rust-specific checks using doublify/pre-commit-rust
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Check formatting (fast, should always pass)
      - id: fmt
        name: cargo fmt
        args: ['--all', '--', '--check']

      # Run clippy for linting
      - id: clippy
        name: cargo clippy
        args: ['--all-features', '--', '-D', 'warnings']

  # Local hooks for commands that need specific setup
  - repo: local
    hooks:
      # Cargo audit with modern version supporting Cargo.lock v4
      - id: cargo-audit
        name: cargo audit (security vulnerabilities)
        entry: cargo
        args: ['audit']
        language: system
        pass_filenames: false
        files: 'Cargo\.(toml|lock)$'
        stages: [pre-commit]

      # Cargo check (lighter than full build)
      - id: cargo-check
        name: cargo check
        entry: cargo
        args: ['check', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [pre-push]

      # Full build (only run manually or in CI)
      - id: cargo-build
        name: cargo build
        entry: cargo
        args: ['build', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

      # Documentation check (only run manually or in CI)
      - id: cargo-doc
        name: cargo doc
        entry: cargo
        args: ['doc', '--no-deps', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

      # Run tests (only run manually or in CI)
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: ['test', '--lib', '--target', 'x86_64-unknown-linux-gnu']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

ci: Add Component Model P2 build workflow and update existing workflows
  .github/workflows/component-model-p2.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Due: none

docs: Add comprehensive BUILD_RESULTS.md with all build outcomes
  BUILD_RESULTS.md
Due: none

chore: Remove gateway-stub.wit duplicate WIT file
  components/gateway/wit/gateway-stub.wit
Due: none

feat: Migrate gateway to pure Component Model P2 for WAC compatibility
  BUILD_INSTRUCTIONS.md
  COMPONENT_MODEL_P2_MIGRATION.md
  SOLUTION_SUMMARY.md
  components/gateway/BUILD.bazel
  components/gateway/Cargo.toml
  components/gateway/src/lib.rs
  components/gateway/wit/gateway.wit
  compose.wac
  package.json
Due: cargo-audit, cargo-check

chore: Add .gitignore entries and package-lock.json
  .gitignore
  package-lock.json
Due: none

build: Update auto-generated bindings and Cargo.lock from P2 builds
  Cargo.lock
  components/business-logic/src/bindings.rs
  components/circuit-breaker/src/bindings.rs
  components/data-transform/src/bindings.rs
  components/metrics/src/bindings.rs
  components/retry-logic/src/bindings.rs
  components/toyota-api-types/src/bindings.rs
  components/validation/src/bindings.rs
Due: cargo-audit, cargo-check

build: Configure Bazel with rules_wasm_component and Rust toolchains
  MODULE.bazel
Due: none

docs: Add comprehensive Bazel setup status and blocker documentation
  BAZEL_SETUP_STATUS.md
Due: none

docs: Add BCR proxy workarounds and WASI P2 vs P3 comparison
  BCR_PROXY_WORKAROUNDS.md
  WASI_P2_VS_P3.md
Due: none

docs: Add comprehensive component build results and status
  BUILD_RESULTS.md
Due: none

feat: Add comprehensive testing infrastructure and documentation
  BUILD_COMPARISON.md
  Cargo.toml
  TESTING_GUIDE.md
  TEST_REPORT.md
  components/gateway/wit/gateway.wit.full
  scripts/build-all-components.sh
  scripts/build-native.sh
  scripts/test-all.sh
  scripts/validate-wasm.sh
  test-http/Cargo.lock
  test-http/Cargo.toml
  test-http/spin.toml
  test-http/src/lib.rs
  test-http/wit/world.wit
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/e2e/test-results/.last-run.json
  tests/e2e/test-results/html/index.html
  tests/e2e/test-results/junit.xml
  tests/e2e/tests/api.spec.js
  tests/e2e/tests/performance.spec.js
Due: cargo-audit, cargo-check

docs: Add troubleshooting guide and CI/CD workflow
  .github/workflows/test.yml
  TROUBLESHOOTING.md
Due: none

feat: Add OpenAPI spec, Docker environment, monitoring, and WAC composition
  .dockerignore
  .time_log
  COMPREHENSIVE_TODOS.md
  DOCKER_GUIDE.md
  Dockerfile.dev
  SESSION_COMPLETION_REPORT.md
  TIME_TRACKING.md
  TODO_MASTER_PLAN.md
  WAC_COMPOSITION_GUIDE.md
  docker-compose.yml
  monitoring/alert_rules.yml
  monitoring/grafana/dashboards/toyota-myt2abrp.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  openapi.yaml
  scripts/compose.sh
  scripts/track-time.sh
Due: none

chore: Update time tracking log with final session completion
  .time_log
Due: none

feat: Add complete web UI, iOS app, and watchOS companion with 20+ innovative features
  .time_log
  Cargo.toml
  SESSION_2_PLAN.md
  SESSION_2_SUMMARY.md
  docs/STATIC_WEB_RESEARCH.md
  ios-app/MyT2ABRP.xcodeproj/project.pbxproj
  ios-app/MyT2ABRP/MyT2ABRPApp.swift
  ios-app/MyT2ABRP/ViewModels/ChargingManager.swift
  ios-app/MyT2ABRP/ViewModels/NotificationManager.swift
  ios-app/MyT2ABRP/ViewModels/VehicleManager.swift
  ios-app/MyT2ABRP/Views/AnalyticsView.swift
  ios-app/MyT2ABRP/Views/ChargingView.swift
  ios-app/MyT2ABRP/Views/ContentView.swift
  ios-app/MyT2ABRP/Views/RoutesView.swift
  ios-app/MyT2ABRP/Views/SettingsView.swift
  watchos-app/MyT2ABRP Watch App/Complications.swift
  watchos-app/MyT2ABRP Watch App/MyT2ABRPWatchApp.swift
  web-ui/BUILD_FIX_NOTES.md
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/src/lib.rs
  web-ui/static/app.js
  web-ui/static/index.html
  web-ui/static/styles.css
Due: cargo-audit, cargo-check

feat: Integrate web-ui with Spin, add Playwright tests, streamline architecture
  .gitignore
  ARCHITECTURE.md
  spin.toml
  tests/README.md
  tests/package.json
  tests/playwright.config.ts
  tests/tests/api/endpoints.spec.ts
  tests/tests/integration/components.spec.ts
  tests/tests/web-ui/charging.spec.ts
  tests/tests/web-ui/dashboard.spec.ts
  web-ui/src/lib.rs
Due: cargo-check

feat: Complete web-ui integration, testing infrastructure, and comprehensive documentation
  .env.example
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile
  GETTING_STARTED.md
  README.md
  benchmark.sh
  components/gateway/wit/gateway.wit.full
  openapi-web-ui.yaml
  spin.toml.backup
  tests/package.json
  tests/playwright.config.ts
  tests/tests/api/endpoints.spec.ts
  tests/tests/integration/components.spec.ts
  tests/tests/web-ui/charging.spec.ts
  tests/tests/web-ui/dashboard.spec.ts
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/LICENSE
  web-ui/README.md
  web-ui/src/lib.rs
Due: cargo-audit, cargo-check

feat: Add comprehensive infrastructure, monitoring, and deployment configurations
  DEPLOYMENT.md
  DOCS_INDEX.md
  alertmanager.yml
  docker-compose.prod.yml
  grafana-dashboard.json
  grafana-provisioning/dashboards/default.yml
  grafana-provisioning/datasources/prometheus.yml
  loadtest.sh
  loki-config.yml
  nginx.prod.conf
  prometheus.yml
  promtail-config.yml
Due: none

feat: Add comprehensive CI/CD pipeline and session tracking
  .github/workflows/ci-cd.yml
  SESSION_3_LOG.md
Due: none

feat: Add comprehensive development tools, documentation, and code enhancements
  PERFORMANCE.md
  README.md
  dev.sh
  security-audit.sh
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/src/lib.rs
Due: cargo-audit, cargo-check

feat: Add comprehensive automation and operations scripts
  backup.sh
  deploy.sh
  setup-monitoring.sh
Due: none

docs: Update SESSION_3_LOG with comprehensive progress through 06:57 UTC
  SESSION_3_LOG.md
Due: none

feat: Enhance Makefile with comprehensive targets
  Makefile
Due: none

feat: Add comprehensive quick start guide and GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  QUICKSTART.md
Due: none

feat: Add comprehensive release automation script
  release.sh
Due: none

docs: Create comprehensive Session 3 summary
  SESSION_3_SUMMARY.md
Due: none

feat: Add comprehensive project governance and configuration documentation
  .gitignore
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  ENVIRONMENT_VARIABLES.md
Due: none

feat: Add comprehensive testing infrastructure and tools
  TESTING.md
  git-hooks/pre-commit
  health-check.sh
  smoke-test.sh
Due: none

fix: Apply rustfmt formatting to web-ui code
  web-ui/src/lib.rs
Due: cargo-check

refactor: Migrate to clean JSON API architecture
  web-ui/src/lib.rs
  web-ui/static/app.js
  web-ui/static/index.html
Due: cargo-check

fix: Resolve gateway component compilation errors
  Cargo.lock
  components/gateway/Cargo.toml
  components/gateway/src/lib.rs
  components/gateway/wit/gateway.wit
Due: cargo-audit, cargo-check

test: Update Playwright tests for JSON API architecture
  tests/tests/api/endpoints.spec.ts
  tests/tests/web-ui/dashboard.spec.ts
Due: none

style: Apply rustfmt to auto-generated bindings files
  components/business-logic/src/bindings.rs
  components/circuit-breaker/src/bindings.rs
  components/data-transform/src/bindings.rs
  components/metrics/src/bindings.rs
  components/retry-logic/src/bindings.rs
  components/toyota-api-types/src/bindings.rs
  components/validation/src/bindings.rs
Due: cargo-check

fix: Add allow(dead_code) attribute to WebUiError enum
  web-ui/src/lib.rs
Due: cargo-check

fix: Suppress dead_code warnings for unused test helpers
  components/gateway/src/lib.rs
  myt2abrp/src/test_helpers.rs
Due: cargo-check

fix: Add wasm32-wasip2 target to lint workflow
  .github/workflows/test.yml
Due: none
