Repository avrabe/spin_myT2ABRP: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, cargo-check

cargo-audit:
  name: cargo audit (security vulnerabilities)
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-check:
  name: cargo check
  entry: cargo
  args:
  - check
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: Apply rustfmt formatting to web-ui code
  web-ui/src/lib.rs
Due: cargo-check

chore: Update time tracking log with final session completion
  .time_log
Due: none

feat: Add comprehensive testing infrastructure and documentation
  BUILD_COMPARISON.md
  Cargo.toml
  TESTING_GUIDE.md
  TEST_REPORT.md
  components/gateway/wit/gateway.wit.full
  scripts/build-all-components.sh
  scripts/build-native.sh
  scripts/test-all.sh
  scripts/validate-wasm.sh
  test-http/Cargo.lock
  test-http/Cargo.toml
  test-http/spin.toml
  test-http/src/lib.rs
  test-http/wit/world.wit
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/e2e/test-results/.last-run.json
  tests/e2e/test-results/html/index.html
  tests/e2e/test-results/junit.xml
  tests/e2e/tests/api.spec.js
  tests/e2e/tests/performance.spec.js
Due: cargo-audit, cargo-check

fix: Add allow(dead_code) attribute to WebUiError enum
  web-ui/src/lib.rs
Due: cargo-check

fix: Suppress dead_code warnings for unused test helpers
  components/gateway/src/lib.rs
  myt2abrp/src/test_helpers.rs
Due: cargo-check

docs: Create comprehensive Session 3 summary
  SESSION_3_SUMMARY.md
Due: none

feat: Add comprehensive quick start guide and GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  QUICKSTART.md
Due: none

docs: Add comprehensive Bazel setup status and blocker documentation
  BAZEL_SETUP_STATUS.md
Due: none

docs: Add troubleshooting guide and CI/CD workflow
  .github/workflows/test.yml
  TROUBLESHOOTING.md
Due: none

refactor: Migrate to clean JSON API architecture
  web-ui/src/lib.rs
  web-ui/static/app.js
  web-ui/static/index.html
Due: cargo-check

feat: Add comprehensive development tools, documentation, and code enhancements
  PERFORMANCE.md
  README.md
  dev.sh
  security-audit.sh
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/src/lib.rs
Due: cargo-audit, cargo-check

feat: Add comprehensive CI/CD pipeline and session tracking
  .github/workflows/ci-cd.yml
  SESSION_3_LOG.md
Due: none

test: Update Playwright tests for JSON API architecture
  tests/tests/api/endpoints.spec.ts
  tests/tests/web-ui/dashboard.spec.ts
Due: none

feat: Add comprehensive infrastructure, monitoring, and deployment configurations
  DEPLOYMENT.md
  DOCS_INDEX.md
  alertmanager.yml
  docker-compose.prod.yml
  grafana-dashboard.json
  grafana-provisioning/dashboards/default.yml
  grafana-provisioning/datasources/prometheus.yml
  loadtest.sh
  loki-config.yml
  nginx.prod.conf
  prometheus.yml
  promtail-config.yml
Due: none

feat: Add complete web UI, iOS app, and watchOS companion with 20+ innovative features
  .time_log
  Cargo.toml
  SESSION_2_PLAN.md
  SESSION_2_SUMMARY.md
  docs/STATIC_WEB_RESEARCH.md
  ios-app/MyT2ABRP.xcodeproj/project.pbxproj
  ios-app/MyT2ABRP/MyT2ABRPApp.swift
  ios-app/MyT2ABRP/ViewModels/ChargingManager.swift
  ios-app/MyT2ABRP/ViewModels/NotificationManager.swift
  ios-app/MyT2ABRP/ViewModels/VehicleManager.swift
  ios-app/MyT2ABRP/Views/AnalyticsView.swift
  ios-app/MyT2ABRP/Views/ChargingView.swift
  ios-app/MyT2ABRP/Views/ContentView.swift
  ios-app/MyT2ABRP/Views/RoutesView.swift
  ios-app/MyT2ABRP/Views/SettingsView.swift
  watchos-app/MyT2ABRP Watch App/Complications.swift
  watchos-app/MyT2ABRP Watch App/MyT2ABRPWatchApp.swift
  web-ui/BUILD_FIX_NOTES.md
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/src/lib.rs
  web-ui/static/app.js
  web-ui/static/index.html
  web-ui/static/styles.css
Due: cargo-audit, cargo-check

docs: Add BCR proxy workarounds and WASI P2 vs P3 comparison
  BCR_PROXY_WORKAROUNDS.md
  WASI_P2_VS_P3.md
Due: none

build: Configure Bazel with rules_wasm_component and Rust toolchains
  MODULE.bazel
Due: none

fix: Add wasm32-wasip2 target to lint workflow
  .github/workflows/test.yml
Due: none

feat: Complete web-ui integration, testing infrastructure, and comprehensive documentation
  .env.example
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile
  GETTING_STARTED.md
  README.md
  benchmark.sh
  components/gateway/wit/gateway.wit.full
  openapi-web-ui.yaml
  spin.toml.backup
  tests/package.json
  tests/playwright.config.ts
  tests/tests/api/endpoints.spec.ts
  tests/tests/integration/components.spec.ts
  tests/tests/web-ui/charging.spec.ts
  tests/tests/web-ui/dashboard.spec.ts
  web-ui/Cargo.lock
  web-ui/Cargo.toml
  web-ui/LICENSE
  web-ui/README.md
  web-ui/src/lib.rs
Due: cargo-audit, cargo-check

feat: Add comprehensive release automation script
  release.sh
Due: none

docs: Update SESSION_3_LOG with comprehensive progress through 06:57 UTC
  SESSION_3_LOG.md
Due: none

feat: Add OpenAPI spec, Docker environment, monitoring, and WAC composition
  .dockerignore
  .time_log
  COMPREHENSIVE_TODOS.md
  DOCKER_GUIDE.md
  Dockerfile.dev
  SESSION_COMPLETION_REPORT.md
  TIME_TRACKING.md
  TODO_MASTER_PLAN.md
  WAC_COMPOSITION_GUIDE.md
  docker-compose.yml
  monitoring/alert_rules.yml
  monitoring/grafana/dashboards/toyota-myt2abrp.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  openapi.yaml
  scripts/compose.sh
  scripts/track-time.sh
Due: none

style: Apply rustfmt to auto-generated bindings files
  components/business-logic/src/bindings.rs
  components/circuit-breaker/src/bindings.rs
  components/data-transform/src/bindings.rs
  components/metrics/src/bindings.rs
  components/retry-logic/src/bindings.rs
  components/toyota-api-types/src/bindings.rs
  components/validation/src/bindings.rs
Due: cargo-check

feat: Add comprehensive testing infrastructure and tools
  TESTING.md
  git-hooks/pre-commit
  health-check.sh
  smoke-test.sh
Due: none

fix: Resolve gateway component compilation errors
  Cargo.lock
  components/gateway/Cargo.toml
  components/gateway/src/lib.rs
  components/gateway/wit/gateway.wit
Due: cargo-audit, cargo-check

docs: Add comprehensive component build results and status
  BUILD_RESULTS.md
Due: none

feat: Add comprehensive project governance and configuration documentation
  .gitignore
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  ENVIRONMENT_VARIABLES.md
Due: none

Path conditions:
  cargo-audit: any of: Cargo\.(toml|lock)$
  cargo-check: any of: \.(rs|toml)$
