Repository avrabe/spin_myT2ABRP: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, cargo-check

.pre-commit-config.yaml:

# Pre-commit hooks for Rust project
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '\.md$'

  # Rust-specific checks using doublify/pre-commit-rust
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Check formatting (fast, should always pass)
      - id: fmt
        name: cargo fmt
        args: ['--all', '--', '--check']

      # Run clippy for linting
      - id: clippy
        name: cargo clippy
        args: ['--all-features', '--', '-D', 'warnings']

  # Local hooks for commands that need specific setup
  - repo: local
    hooks:
      # Cargo audit with modern version supporting Cargo.lock v4
      - id: cargo-audit
        name: cargo audit (security vulnerabilities)
        entry: cargo
        args: ['audit']
        language: system
        pass_filenames: false
        files: 'Cargo\.(toml|lock)$'
        stages: [pre-commit]

      # Cargo check (lighter than full build)
      - id: cargo-check
        name: cargo check
        entry: cargo
        args: ['check', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [pre-push]

      # Full build (only run manually or in CI)
      - id: cargo-build
        name: cargo build
        entry: cargo
        args: ['build', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

      # Documentation check (only run manually or in CI)
      - id: cargo-doc
        name: cargo doc
        entry: cargo
        args: ['doc', '--no-deps', '--all-features']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

      # Run tests (only run manually or in CI)
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: ['test', '--lib', '--target', 'x86_64-unknown-linux-gnu']
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'
        stages: [manual]

style: Apply rustfmt formatting to all components
  components/business-logic/src/bindings.rs
  components/business-logic/src/lib.rs
  components/circuit-breaker/src/bindings.rs
  components/circuit-breaker/src/lib.rs
  components/data-transform/src/bindings.rs
  components/data-transform/src/lib.rs
  components/metrics/src/bindings.rs
  components/metrics/src/lib.rs
  components/retry-logic/src/bindings.rs
  components/toyota-api-types/src/bindings.rs
  components/toyota-api-types/src/lib.rs
  components/validation/src/bindings.rs
  components/validation/src/lib.rs
Due: cargo-check

fix: Ignore wit-bindgen-rt false positive in cargo-udeps
  components/gateway/Cargo.toml
Due: cargo-audit, cargo-check

fix: Add newline at end of .bazelversion
  .bazelversion
Due: none

style: Format bindings and test files with rustfmt
  components/gateway/src/bindings.rs
  tests/wasmtime/src/main.rs
Due: cargo-check

feat: Add WebAssembly Component Model proof of concept
  Cargo.lock
  Cargo.toml
  POC-COMPONENT-COMPOSITION.md
  components/README.md
  components/business-logic/Cargo.toml
  components/business-logic/src/bindings.rs
  components/business-logic/src/lib.rs
  components/business-logic/wit/jwt.wit
  test-component.sh
Due: cargo-audit, cargo-check

docs: Update Phase 2 status - validation complete (3/4)
  PHASE-2-STATUS.md
Due: none

feat: Integrate Bazel build with WAC composition for Spin
  .gitignore
  BUILD.bazel
  build.sh
  components/gateway/BUILD.bazel
  spin.toml
Due: cargo-check

feat: Extract toyota-api-types as standalone WASM component
  Cargo.lock
  Cargo.toml
  components/toyota-api-types/BUILD.bazel
  components/toyota-api-types/Cargo.toml
  components/toyota-api-types/README.md
  components/toyota-api-types/src/bindings.rs
  components/toyota-api-types/src/lib.rs
  components/toyota-api-types/wit/types.wit
Due: cargo-audit, cargo-check

docs: Clean up documentation - remove outdated and rename to lowercase
  AI_ASSISTED_REASSESSMENT.md
  CRITICAL_REVIEW.md
  HONEST_ASSESSMENT.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_STATUS.md
  SECURITY_ANALYSIS.md
  V5.1_RELEASE_SUMMARY.md
  bazel-build.md
  bazel-integration.md
  bazel-status.md
  components/README.md
  poc-component-composition.md
Due: none

feat: Complete component migration - Spin tested successfully!
  FINAL-STATUS.md
  components/gateway/spin.toml
Due: cargo-check

docs: Add comprehensive component migration plan
  component-migration-plan.md
Due: none

fix: Convert gateway doc comments to inner doc comments
  components/gateway/src/lib.rs
Due: cargo-check

docs: Add Bazel setup verification and status documentation
  BAZEL-STATUS.md
  verify-bazel-setup.sh
Due: none

feat: Extract metrics as standalone WASM component
  Cargo.lock
  Cargo.toml
  components/metrics/Cargo.toml
  components/metrics/src/bindings.rs
  components/metrics/src/lib.rs
  components/metrics/wit/collector.wit
Due: cargo-audit, cargo-check

docs: Add Phase 2 status tracking for component migration
  PHASE-2-STATUS.md
Due: none

build: Add Bazel 8.0.0 version pin
  .bazelversion
Due: none

docs: Update Phase 2 status - retry-logic complete (4/4) - PHASE 2 DONE!
  PHASE-2-STATUS.md
Due: none

feat: Add minimal gateway component + extraction status
  COMPONENT-EXTRACTION-STATUS.md
  Cargo.lock
  Cargo.toml
  components/gateway/BUILD.bazel
  components/gateway/Cargo.toml
  components/gateway/README.md
  components/gateway/spin.toml
  components/gateway/src/bindings.rs
  components/gateway/src/lib.rs
  components/gateway/wit/gateway.wit
Due: cargo-audit, cargo-check

fix: Add MIT license to all component Cargo.toml files
  components/business-logic/Cargo.toml
  components/circuit-breaker/Cargo.toml
  components/gateway/Cargo.toml
  components/metrics/Cargo.toml
Due: cargo-audit, cargo-check

feat: Extract data-transform as standalone WASM component
  Cargo.lock
  Cargo.toml
  components/data-transform/BUILD.bazel
  components/data-transform/Cargo.toml
  components/data-transform/README.md
  components/data-transform/src/bindings.rs
  components/data-transform/src/lib.rs
  components/data-transform/wit/transform.wit
Due: cargo-audit, cargo-check

fix: Use specific commit hash in rules_wasm_component git_override
  MODULE.bazel
Due: none

chore: Update LICENSE to Apache 2.0 and ignore Spin artifacts
  .gitignore
  LICENSE
  README.md
Due: none

test: Add wasmtime component test harness
  tests/wasmtime/Cargo.lock
  tests/wasmtime/Cargo.toml
  tests/wasmtime/src/main.rs
Due: cargo-audit, cargo-check

feat: Extract validation as standalone WASM component
  Cargo.lock
  Cargo.toml
  components/validation/BUILD.bazel
  components/validation/Cargo.toml
  components/validation/README.md
  components/validation/src/bindings.rs
  components/validation/src/lib.rs
  components/validation/wit/validator.wit
Due: cargo-audit, cargo-check

feat: Implement full WAC composition with all 7 components
  BUILD.bazel
  build.sh
  components/gateway/src/lib.rs
  components/gateway/wit/gateway-stub.wit
  components/gateway/wit/gateway.wit
  components/metrics/BUILD.bazel
Due: cargo-check

feat: Add Bazel build system with rules_wasm_component
  .bazelignore
  .bazelrc
  BAZEL-BUILD.md
  BAZEL-INTEGRATION.md
  BUILD.bazel
  Cargo.Bazel.toml
  MODULE.bazel
  bazel-test.sh
  components/business-logic/BUILD.bazel
  components/business-logic/wasmtime_test.sh
  compose.wac
  tools/BUILD.bazel
  tools/validate_component.sh
Due: cargo-check

docs: Update Phase 2 status - data-transform complete (2/4)
  PHASE-2-STATUS.md
Due: none

feat: Extract circuit-breaker as standalone WASM component
  BUILD.bazel
  Cargo.lock
  Cargo.toml
  components/circuit-breaker/BUILD.bazel
  components/circuit-breaker/Cargo.toml
  components/circuit-breaker/README.md
  components/circuit-breaker/src/bindings.rs
  components/circuit-breaker/src/lib.rs
  components/circuit-breaker/wit/breaker.wit
Due: cargo-audit, cargo-check

docs: Clean up documentation - remove historical files
  COMPONENT-EXTRACTION-STATUS.md
  FINAL-STATUS.md
  PHASE-2-STATUS.md
  README.md
  bazel-integration.md
  bazel-status.md
  component-migration-plan.md
  components/README.md
  extraction-analysis.md
  poc-component-composition.md
Due: none

docs: Add comprehensive analysis of remaining extractable components
  extraction-analysis.md
Due: none

feat: Extract retry-logic as standalone WASM component
  Cargo.lock
  Cargo.toml
  components/retry-logic/BUILD.bazel
  components/retry-logic/Cargo.toml
  components/retry-logic/README.md
  components/retry-logic/src/bindings.rs
  components/retry-logic/src/lib.rs
  components/retry-logic/wit/strategy.wit
Due: cargo-audit, cargo-check

feat: Migrate gateway to pure Component Model P2 for WAC compatibility
  BUILD_INSTRUCTIONS.md
  COMPONENT_MODEL_P2_MIGRATION.md
  SOLUTION_SUMMARY.md
  components/gateway/BUILD.bazel
  components/gateway/Cargo.toml
  components/gateway/src/lib.rs
  components/gateway/wit/gateway.wit
  compose.wac
  package.json
Due: cargo-audit, cargo-check

chore: Add .gitignore entries and package-lock.json
  .gitignore
  package-lock.json
Due: none

chore: Remove gateway-stub.wit duplicate WIT file
  components/gateway/wit/gateway-stub.wit
Due: none

docs: Add comprehensive BUILD_RESULTS.md with all build outcomes
  BUILD_RESULTS.md
Due: none

build: Update auto-generated bindings and Cargo.lock from P2 builds
  Cargo.lock
  components/business-logic/src/bindings.rs
  components/circuit-breaker/src/bindings.rs
  components/data-transform/src/bindings.rs
  components/metrics/src/bindings.rs
  components/retry-logic/src/bindings.rs
  components/toyota-api-types/src/bindings.rs
  components/validation/src/bindings.rs
Due: cargo-audit, cargo-check
